.screen-container{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #16161d;
    padding-top: 100px;
    min-width: 500px;
}

.buttonLogin-container{
    display: flex;
}