@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background-color: #16161d;
  font-family: 'Roboto', sans-serif;
  background-image: url('/assets/pruebasa.png'); /* ✅ CORRECTO */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}


/* .auth-input {
  background-color: #16161d;
  color: #aaaaaa;
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
}
.auth-input:hover {
  background-color: #16161d;
  border: 1px solid #EFCD72;
  border-radius: 6px;
}
.auth-input::placeholder {
  color: #666666; 
  opacity: 1;   
} */
.login-input {
  background-color: #16161d;
  color: #8d8d8d; 
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
}
.login-input:hover {
  background-color: #16161d;
  border: 1px solid #EFCD72;
  border-radius: 6px;
}
.login-input::placeholder {
  color: #8d8d8d; 
  opacity: 1;   
}
.login-input:focus {
  background-color: #16161d;
  color: #8d8d8d; 
  border: 1px solid #EFCD72;
  outline: none;
}

.login-container {
  background-color: #16161d;
  width: 350px;
  height: 600px;
  padding: 30px;
  border: 1px solid #5a5a5a;
  border-radius: 6px;
}

.logo-img, .qr-img {
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo-img {
  width: 200px;
  margin-top: -15px;
}

.qr-img {
  width: 250px;
  margin-top: -20px;
}

.auth-button {
  background-color: #EFCD72 !important;
  color: #313131 !important;
  height: 35px;
  width: 100%;
  margin: 5px;
  font-size: 16px;
  font-weight: 600;
  border: none !important;
}

.auth-button:hover {
  background-color: #a18537 !important;
  color: #313131 !important;
  border: none !important;
}



.auth-title, .saldo {
  font-size: 30px;
  color: #EFCD72;
  text-align: center;
  font-weight: 700;
  margin-top: 0px
}

.auth-subtitle, .auth-p-end, .auth-code, .saludo {
  font-size: 16px;
  color: #aaaaaa;
  text-align: center;
  font-weight: 500;
}

.saludo, .saldo {
  text-align: left
}

.saldo {
  margin-bottom: 0px
}

.auth-subtitle {
  margin-bottom: 30px
}

.auth-p-end {
  font-size: 14px;
  margin-top: 30px
}

.auth-link {
  text-decoration: none;
  color: rgb(231, 231, 231)
}

.auth-code {
  font-size: 12px;
  cursor: pointer;
  user-select: all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-container {
  padding: 10px 20px;
  border: 2px solid #EFCD72;
  border-radius: 10px;
  margin-bottom: 10px
}

.icon-container {
  color: #494949;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.logout-icon {
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .login-container {
    width: 90vw;
    height: auto;
    padding: 20px 15px;
  }

  .auth-input, .auth-button {
    height: 60px;
    font-size: 16px
  }

  .logo-img, .qr-img {
    width: 70%;
    max-width: 200px;
  }
}